body {
  font-family: "Montserrat";
  color: #000032;
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

h3 {
  font-size: 36px;
  font-weight: bold;
}

main {
  width: 100%;
  text-align: center;
}

.calendar {
  max-width: 1024px;
  margin: auto;
}
