@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat';
  color: #000032;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

br {
  margin-bottom: 1rem;
}

main {
  width: 100%;
  text-align: center;
  @apply px-2 py-4 md:px-4 md:py-8 lg:p-12 xl:px-20 xl:py-16;
}

.calendar {
  max-width: 1024px;
  margin: auto;
}

.main-wrapper {
  margin: auto;
}
